h1{
  color: #F4A460;
  margin-top: 150px;
  font-size: 300%;
  margin-left: 30px;
  /*margin-left: 35%;*/
  font-family: sans-serif;
  }
  h2{
    color: black;
    margin-top: 100px;
    font-size: 140%;
    margin-left: 10px;
    /*margin-left: 35%;*/
    font-family: sans-serif;
    font-style: italic;
    }
    .column{
      float:left;
      width: 5%;
      align-content: center;
      margin-left: 50px;
    }

ul{
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 20px;
  position: fixed;
  width: 100%;
  font-family: sans-serif;
  font-size: 20px;
  background-color: black;
}
ul::after{
  content: '';
  clear: both;
  display: block;
}
nav>ul>li {
  float: left;
  position: relative;
}
a#pink{
  padding: 15px 70px;
  color: #fff;
  text-decoration: none;
  display: block;


}
a#pink:hover{
  background-color: #F0C1B6;
  color: black;
}
.dropdown{
  display: inline-block;
  position: relative;

}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #F0C1B6;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top:50px;

}
.dropdown:hover .dropdown-content{
  display: block;

}
.dropdown-content a:hover{
  display: block;
}
